body{
    margin: 0;
    padding: 0;
}

.svg-container { 
    margin: 0 auto;
    width: 60%;
}

#mySVG{
	display: block;
    background-color: aqua;
    margin: 20px auto;
}
svg .mainCircle{
    fill: yellow;
    stroke: purple;
    stroke-width: 2px;
}
svg .myPaths{
    fill: red;
    stroke: green;
    stroke-width: 4px;
}
svg .eyeCircles{
    fill: green;
}
svg .eyeCircles:hover{
    fill: blue;
}